<!--footerwrap-->
<div class="footer">
    
    <div class="footer_content">
        <div class="item">
                <h3>About HealthSlate </h3>
                <p>Our mission is to help people with chronic diseases maintain their health through highly individualized programs of education, behavior modification and clinical support. </p>
                <p>Combining expertise in consumer behavior, mobile technology and evidenced-based medicine HealthSlate improves patients' quality of life and health outcomes. </p>
        </div>
        <div class="item nospace">
            <h4>Sales and Support:</h4>
            <p>info@healthslate.com (888) 291-7245</p>

            <h4>clinical Products and Corporate:</h4>
            <p>go@healthslate.com (888) 291-7245</p>

            <h4>Customer Care for diabetes educators:</h4>
            <p>info@healthslate.com (888) 291-7245</p>
        </div>
 
    </div>

        <div class="baseline">
            <div class="footerlogo">
                <a href="index.html"><img src="/assets/img/footerlogo.png" alt="" /></a>
            </div>
            <div class="privacy">
                <p><a href="privacy.html">Privacy policy</a> |<a href="terms.html"> Terms of Use</a></p>
            </div>
        </div>         
   
</div>
</div>
</body>
</html>