    <!--footerwrap-->
    <div class="footerwrap">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                	<!--footernav-->
                    <div class="footernav clearfix">
                    	<ul>
                        	<li><a href="contactus.html">Support</a></li>
                            <li><a href="aboutus.html">About Us</a></li>
                            <li><a href="contactus.html">Contact</a></li>
                            <li><a href="http://healthslate.com/cde">CDE Resources</a></li>
                            <li><a href="aade.html">AADE HealthSlate</a></li>
                        </ul>
                    </div>
                    <!--footernav-->
                </div>
            </div>
            
            <div class="row">
            	<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                	<!--footer_left-->
                    <div class="footer_left">
                    	<div class="footerlogo"><a href="index.html"><img src="assets/img/footerlogo.png" alt="" /></a></div>
                        <p><a href="privacy.html">Privacy policy</a> :<a href="terms.html"> terms of use</a></p>
                    </div>
                    <!--footer_left-->
                </div>
                
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                	<!--footer_main-->	
                    <div class="footer_main">
                    	<h4>About HealthSlate </h4>
                        <p>Our mission is to help people with chronic diseases maintain their health through highly individualized programs of education, behavior modification and clinical support. </p>
                        <p>Combining expertise in consumer behavior, mobile technology and evidenced-based medicine HealthSlate improves patients' quality of life and health outcomes. Learn more at <a href="#">www.HealthSlate.com</a></p>
                    </div>
                    <!--footer_main-->
                </div>
            </div>
            
        </div>    
    </div>
    <!--footerwrap-->
</body>
</html>