<!--footerwrap-->
<div class="footer">
    <div class="grayBox">
        <div id="item">
                <h4>About HealthSlate </h4>
                <p>Our mission is to help people with chronic diseases maintain their health through highly individualized programs of education, behavior modification and clinical support. </p>
                <p>Combining expertise in consumer behavior, mobile technology and evidenced-based medicine HealthSlate improves patients' quality of life and health outcomes. </p>
        </div>
        <div class="item">
            <h5>Sales and Support:</h5>
            <p>info@healthslate.com </p>

            <h5>clinical Products and Corporate:</h5>
            <p>go@healthslate.com</p>

            <h5>Customer Care for diabetes educators:</h5>
            <p>info@healthslate.com</p>


        </div>

    </div>
                	
                    
    





<!--footer_left-->
<div >
    <div class="footerlogo"><a href="index.html"><img src="/assets/img/footerlogo.png" alt="" /></a></div>
    <p><a href="privacy.html">Privacy policy</a> :<a href="terms.html"> Terms of Use</a> : <a href="https://diabetes.healthslate.com">Login</a></p>

<!--footer_left-->




</div>         
     
   </div>
</body>
</html>