/* full page */
body, html{
    font-size: 100%;
    font-family: "Roboto", "Open Sans";
    background: white;
}

body, html{
    margin:0;
    padding:0;
    
}

/* header */
nav ul{
    list-style: none;
    padding: 0;
    background: #FFF;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    line-height:  1;
}

nav ul li{
    border: 0.5px dotted #000;
}
/*Header -> Logo*/

nav div:first-child{
    background: #FFF;
}
nav div:first-child h1{
    line-height: 0;
    padding: .8rem 0rem;
    text-align: center;
}
nav div:first-child h1, nav ul{
    margin: 0.5px;
}



/* Footer */
.footer{
    display:flex;
    flex-direction: column;
    background: #81AA42;
}
.footer_content{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #e4e7de;
}

.item{
    width: 40%;
    padding: 4% 4%;
}
.nospace{
    margin-top: 25px;;
}
.nospace h4{
    margin-bottom: 0px;
    font-weight: normal;

}
.nospace p{
    margin-top: 0;
}

.baseline{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.baseline, .baseline a{
    color: #FFF;
    text-decoration: none;
    padding: 4%;
}

.footerlogo img{
    max-width: 60%;
}

/* Partner with Us Body */
.body{
    background: white;
    min-height: 500px;
    margin-right: 8px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    
}

.pagetitle{
    background: white;
    
    
}
.pagetitle h1{
    color: #81AA42;
    padding-left: 8px;
    padding-right: 8px;
    
 }
 .row1{
     display: flex;
     flex-direction: column;
     padding-left: 8px;
     padding-right: 8px;

 }
 .row1_left p{
     color: #81AA42;
    
 }
 .row1_right{
     padding-left: 10px;
     padding-right: 10px;
     z-index: 10;

 }

 /* Partner with Us Form */
 #contact-form{
    max-width: 480px;
    background: #F6F6F4;
    padding: 20px 5px 20px 5px;
    border: 1px solid black;
    margin-bottom: -25px;
    
} 
.form_head{
font-weight: bold;
padding: 0;
margin: 0;
}
.text_input{
width: 95%;
border: none;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
margin-top: 15px;
margin-bottom: 15px;
}
.submit{
background-color:#81AA42;
border: none;
color: white;
width:100%;
font-size: 16px;
font-weight: bold;
border-radius: 25px;
padding-top: 12px;
padding-bottom: 12px;

}
.row2{
    width: 100%;
    
    background-image: url(../img/design2018/img_partner.png);
    background-size: 100% 100%;
    z-index: 0;
}
.row2 img{
    visibility: hidden;
    max-width: 100%;
    padding: 0;
    margin: 0;

}

.img_right{
    background: white;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;

}
.img_left{
    background: lightgray;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
}

.row4{
    display: flex;
}

.row4 a {
    color: #81AA42;
    text-decoration: none;
}


    



    /*Styling for larger devices*/
    @media only screen and (min-width:480px){
        #container{
            max-width: 1200px;
            background:lightgray;
            margin: 0 auto;
        }
        
        body, html{
            font-size: 100%;
            font-family: "Roboto", "Open Sans";
            background: lightgray;
        }
        
        
        /* Header */
        .header{
            background: lightgray;
            margin-left: 32px;
            margin-right: 32px;
            margin-top:32px;
            
            
        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 0;
            background: white;
            
            padding-left: 40px;
            padding-right: 40px;
        }
        nav ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: none;
            flex-wrap: wrap;
            
        }

        nav div:first-child h1{
            padding: 0;
            
        }

        nav div:first-child img{
            width: 160px;
            margin-top: -15px;
        }

        nav ul li{
            border-bottom: none; 
            flex: 1 0 auto;
            position: relative;
            border: none;
            
        }

        nav ul li a{
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 0; 
        }

        nav ul li a::after, nav ul li a::before{
            content: "";
            position: absolute;
            bottom: 0;
            right:0;
            width:0%;
            height: 2px;
            background: #81AA42;
            transition: ease-in-out;
        }

        nav ul li a::before{
            left:0;
        }

        nav ul li a:hover::after, 
        nav ul li a:hover::before{
            width: 50%;
        }
        
    /*    Footer    */
    .footer{
        background-color: #81AA42;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 72px;
        padding-right: 72px;
        padding-bottom: 0;
        
    }

    .footer_content{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background: #e4e7de;
        margin-top: -100px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .item{
        max-width: 320px;
        padding-left: 32px;
    }

    .baseline{
        display: flex;
        padding-top: 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .baseline, .baseline a{
        color: #FFF;
        text-decoration: none;
    }



    .privacy{
    min-width: 300px;
    text-align: right;
    padding-right: 0px; 
    
    }

    /* partner with us Body */
    .body{
        background: lightgray;
        min-height: 500px;
        margin-right: 32px;
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        
    }
    
    .pagetitle h1{
        color: #81AA42;
        
     }
    .pagetitle{
        background: white;
        padding-left: 40px;
        padding-right: 40px;
    }
    .row1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 40px; 
        padding-right: 40px;
        background: white;
        margin-bottom: -25px;
        z-index: 1;
       
    }    
    .row1_left{
        max-width: 420px;
        
    }
    .row1_right{
        
        max-width: 420px;
        display: flex;
        justify-content: flex-end;
    }
    /* Partner with Us Form */
 #contact-form{
     margin-top: 20px;
    max-width: 240px;
    background: #F6F6F4;
    padding: 25px 5px 25px 5px;
    border: 1px solid black;
    margin-bottom: -100px;
    
} 
    .form_head{
    font-weight: bold;
    padding: 0;
    margin: 0;
    }
    .text_input{
    width: 95%;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    }
    .submit{
    background-color:#81AA42;
    border: none;
    color: white;
    width:100%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    padding-top: 12px;
    padding-bottom: 12px;

    }
    /*    Row 2   */
    .row2{
        width: 100%;
        background-image: url(../img/design2018/img_partner.png);
        background-size: cover;
        z-index: 0;
    }
    .row2 img{
        visibility: hidden;
        max-width: 100%;
        padding: 0;
        margin: 0;

    }
    /*     ROW 3   */
    .row3{
        background: transparent;
        display: flex;
        align-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
        background: white;
        z-index: 1;
    }
    .row3_left{
        background: white;
        padding-left: 72px;
        color: #81AA42;
        padding-right: 0px;
        flex: 1;
        margin-top: -25px;
        
    }

    .row3_right{
        flex:1;
        
    }
    .row4{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: white;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        
    }
    .row4_item{
        border: 1px solid red;
    }
    .row4_col1{
        padding-top: 25px;
        
    }
    .row4_col2 h2{
        padding-top: 0px;
    }
    .pwu_text{
        
        max-width: 320px;
    }
    .row4_col3{
        padding-right: 0px;
    }
    .row5{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: #F6F6F6;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
    }

}
