.form_body{
    background: white;
    margin-right: 8px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form_title{
    background: white;
    padding-bottom: 15px;
    height: 100px;
}
.shake_form_title{
    background: white;
    padding-bottom: 10px;
}

.form_title h1, .shake_form_title h1{
    color: #688D27;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 900;
    max-width: 50%;
    padding-bottom: 10px;
 }
 
.year_two_legend{
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 0px;
    padding-top: 0px; 
}

.form-container, #contact-form {
    border: none;
    background: #f1f1f1; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 10px;
    padding: 20px;
}

.form-list{
    list-style-type: none;
    padding-left: 0px;
}
.form-list-item label{
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    padding-bottom: 5px;
    color: #666;
    padding-left: 4px;
}

.form-list-item input{
    margin-top: 5px;
    border: 1px solid #CCC;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000000;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-list-item input:focus{
    background: #fff;
    color: #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    outline: none;
}

 .form-field {
    border: 1px solid #000000;
    background: #b5b0aa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000000;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom:20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    
}
 .form-field:focus {
    background: #fff;
    color: #000000;
    }

 .year_two_legend {
    font-size:18px;
    margin: 0 0 10px 0;
    font-weight:bold;
    text-align:center;
    }

 .form-title {
    margin-bottom:10px;
    color: #080808;
    }

 .submit-container {
    margin:8px 0;
    text-align:right;
    }

    .submit-button{
        border: none;
        background: #74A740;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
        -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
        box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
        color: #FFF;
        font-family: helvetica, serif;
        padding: 8.5px 18px;
        font-size: 14px;
        text-decoration: none;
        vertical-align: middle;
        text-align: center;
        margin-right: 10px;
        width: 100%;
        text-transform: uppercase;
        font-weight: 800;
    }
    
    .submit-button:hover {
        border: 1px solid #447314;
        background: #6aa436;
        color: #fff;
    }
    
    .submit-button:active {
        border: 1px solid #447314;
        background: #026c29;
        color: #fff;
    }

 .submit-button:hover {
    border: 1px solid #447314;
    text-shadow: #31540c 0 1px 0;
    background: #6aa436;
    color: #fff;
}

 .submit-button:active {
    border: 1px solid #447314;
    background: #8dc059;
}

    @media only screen and (min-width:480px){
        body{
            margin: 0;
            padding: 0;
        }

        .form_body{
            background: lightgray;
            margin-right: 32px;
            margin-left: 32px;
            display: flex;
            flex-direction: column;
            margin-bottom: 0px;
        }

        .form_title{
            background: white;
            padding-bottom: 15px;
            height: 50px;
            padding-left: 64px;
        }
        .shake_form_title{
            background: white;
            padding-bottom: 15px;
            height: 100px;
            padding-left: 64px;
            padding-right: 64px;
            margin: 0;
            
        }
        
        .form_title h1 {
            color: #688D27;
            padding-left: 8px;
            padding-right: 8px;
            font-weight: 900;
            max-width: 50%;
            padding-bottom: 10px;
         }

        
        .shake_form_title h1{
            color: #688D27;
            
            font-weight: 900;
            
            padding-bottom: 10px;
         }
        .year_two_legend{
            font-size: 80%;
        }
        .form_row{
            display: flex;
            flex-direction: column;
            background: white;
            padding-bottom: 250px;
        }

        .form_div{
            align-self: center;
        }
        
        .form-container {
            border: 1px solid #000000;
            background: #8AB43F; 
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
            -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
            box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
            font-family: 'Helvetica Neue',Helvetica,sans-serif;
            text-decoration: none;
            vertical-align: middle;
            min-width:400px;
            padding:20px;
        }

        .form-field {
            border: 1px solid #000000;
            background: #b5b0aa;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            color: #000000;
            -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
            -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
            box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
            padding:8px;
            margin-right:20px;
            margin-bottom:20px;
        }

        .form-field:focus {
            background: #fff;
            color: #000000;
        }

        .form-container h2 {
            text-shadow: #e2f0e3 0 1px 0;
            font-size:18px;
            margin: 0 0 10px 0;
            font-weight:bold;
            text-align:center;
        }

        .form-title {
            margin-bottom:0;
            color: #080808;
            text-shadow: #e2f0e3 0 1px 0;
            text-align: left;
        }
        .form-title h3{
            align-self: left;
        }
        .submit-container {
            margin:8px 0;
            text-align:right;
        }

        .submit-button {
            border: 1px solid #447314;
            background: #026c29;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
            -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
            box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
            color: #f9faf7;
            font-family: helvetica, serif;
            padding: 8.5px 18px;
            font-size: 14px;
            text-decoration: none;
            vertical-align: middle;
        }

        .submit-button:hover {
            border: 1px solid #447314;
            background: #6aa436;
            color: #fff;
        }

        .submit-button:active {
            border: 1px solid #447314;
            background: #8dc059;
            color: #fff;
        }
    }