


 @media only screen and (max-width:340px){
    .fifth{
        line-height: unset !important;
    }
}
 /* full page */
 .o1{
    background: url(../img/design2018/outcome/img/img_outcomes1.png) ;     
    
    margin-left: -5px;
    margin-right: -5px;
 }
 .what_about{
    
    background: rgb(49,66,22);
    background: #314216DE;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    
 }
 .what_about h1{
     font-weight: 725;
     padding-left: 13px;
     padding-right: 13px;
 }
 .what_about p{
    padding-left: 13px;
    padding-right: 13px;
 }

 .o2{
     padding-top: 25px;
     padding-bottom: 60px;
     display: flex;
     flex-direction: column;
     padding-left: 8px;
     padding-right: 8px; 
 }
 .o2 h3{
    font-weight: 725;
    font-size: 1.25em;
 }
 .o2_right{
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
 }
 .o2_icons{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }
 .o2_icons img{
     padding: 5px;
     flex-grow: 0;
     flex-shrink: 0;
 }
 .o2_icons div{
     display: flex;
     align-items: center;
     
 }
 .o2_item span{
     padding-left: 5px;
 }
 
 

 .o3{
    background: #F6F6F7; 
    margin-left: -8px;
     margin-right: -8px;
     width: auto;
     padding-left: 16px;
     padding-right: 16px;
     padding-top: 30px;
     padding-bottom: 30px;
 }
 .o3 h3{
    font-weight: 725;
    font-size: 1.25em;
 }
 .o3_text span{
     font-weight: 700;
 }
 
 .o3_graphic img{
     max-width: 100%;
     padding-bottom: 10px;
 }
 .o3_graphic span{
     color: rgb(112, 148, 58);
     
 }
 .bold{
     font-weight: 800;
 }

 .o4{
    background: url(../img/design2018/outcome/img/img_outcomes2.png) ;     
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin-left: -5px;
    margin-right: -5px;
}
 
 .o4_left{
     background: #F0EDEB;
     opacity: 0.75;
     padding-top: 25px;
     padding-bottom: 50px;
     
     z-index: 0;
 }
 .o4_left h3{
     font-weight: 725;
     padding-left: 10px;
     padding-right: 10px;
 }
 .o4_left p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
 }
.o4_right{
    background: #7FA941;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -15px;
    padding-bottom: 40px;
    z-index: 1;
    
}

.o4_right p {
    padding-top: 30px;
    margin-bottom: -10px;
    color: white;
    text-align: center;
    font-size: small;
    
}
#tagline{
    font-style: italic;
   
}

.o5{
    background: #F0EDEB;
    margin-left: -5px;
    margin-right: -5px;
    
}
.o5 h3{
    font-weight: 700;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 40px;
}
.o5 p{
   font-weight: 300;
   padding-left: 12px;
   padding-right: 12px;
   padding-bottom: 30px;
   font-size: small;
   
}
.o6{
    display: flex;
    flex-direction: column;
    background: #F0EDEB;
    margin-left: -5px;
    margin-right: -5px;

}
.o6 img{
    max-width: 100%;
}
.outcomes_img{
    background: white;
    padding: 20px;
    
}
.o6 p{
    text-align: center;
    font-weight: 500;
    padding-left: 20%;
    padding-right: 20%;
}
#lastdiv{
    padding-bottom: 75px;
}


 
 

 /* Styling for larger devices*/
 @media only screen and (min-width:480px){
    .o1{
        margin-left:0px; 
        background: url(../img/design2018/outcome/img/img_outcomes1@2x.png);
        background-size: cover;
        width: 100%;
    }

    .what_about{
        background: #314216DE;
        margin-top: 75px;
        margin-left: 28%;
        margin-bottom: 150px;
        padding-left: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 64px;
    }

    .what_about h1{
        max-width: 560px;
        font-weight: 750;
        font-size: 28pt;
        padding-left: 0; 
        padding-right: 0;
        color: white;
         
    }

    .what_about p{
        max-width: 560px;
        font-size: 110%;
        padding-left: 0; 
        padding-right: 0;
        color: white;
         
    }
    .o2{
        background: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0;
    }

    .evidence_based{
        max-width: 435px;
    }
    
    
    .o2_right{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
    }
    .o2_item{
        flex: 1;
        padding-left: 80px;
    }
    .o2 h3{
        font-weight: 709;
        font-size: 1.25em;
    }
    .o2_icons{
        background: white;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: nowrap;
        
    }
    .o2_icons img{
        align-self: center;
        padding: 10px;
    }
    .o3{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 150px;
    }
    .o3_graphic{
        display: flex;
        flex-direction: column;
        
    }
    .o3_item{
        flex:1;
        
        

    }
    .o3_graphic img{
        max-width: 400px;
    }
    .o3_graphic{
        padding-left: 64px;
    }
    .o3_text{
        padding-right: 64px;
        padding-left: 150px;
    }
    .o3_text h3, .o3_text p{
        max-width: 420px;
        
    }
    .close_caption{
        text-align: center;
    }

    .o4{
        background: url(../img/design2018/outcome/img/img_outcomes2.png) ;     
        display: flex;
        margin-left: 0px;
        flex-direction: column;
        background-size: cover;
        width: 100%;
        
    }
     
     .o4_left{
         background: #F0EDEB;
         opacity: 0.90;
         margin-top: 25px;
         margin-right: 40%;
         padding-right: 64px;
         padding-top: 30px;
         padding-bottom: 30px;
         padding-left: 64px;
         z-index: 0;
     }
     .o4_left h3{
         font-weight: 725;
         max-width: 496px;
    }
     .o4_left p{
        max-width: 496px;
    }
    .o4_right{
        background: #7FA941;
        margin-right: 80px;
        margin-left: 55%;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: -15px;
        margin-bottom:-10%;
        z-index: 1;
        
    }
    
    .o4_right p {
        padding-top: 20px;
        padding-bottom: 40px;
        margin-bottom: -10px;
        color: white;
        text-align: center;
        font-size: small;
        max-width: 320px;
        
    }
    .o5{
        background: #F6f6f7;
        padding-left: 64px;
        margin-left: 0;
        margin-right: 0;
       
        
    }
    .o5 h3{
        font-weight: 700;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 40px;
        max-width: 300px;
    }
    .o5 p{
       max-width: 300px;
       font-weight: 300;
       padding-left: 12px;
       padding-right: 12px;
       padding-bottom: 30px;
       
       
    }
    #lastdiv{
        padding-bottom: 100px;
    }
    
    .o6{
        display: flex;
        flex-direction: row;
        background: #F6f6f7;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 75px;
        padding-left: 64px;
        padding-right: 64px;
        
    }
    .o6_right{
        margin-left: 10px;
    }
    .o6_left{
        margin-right: 10px;
        padding-bottom: 100px;
    }
    .o6 img{
        max-width: 100%;
    }
    .outcomes_img{
        background: white;
        
        padding-bottom: 100px;
        
    }
    .o6  img{
       padding-left: 10px;
       padding-right: 10px;
    }
    .o6 p{
        text-align: center;
        font-weight: 500;
       
    }
    
}

