.comingsoon_body{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.comingsoon_title{
    background: white;
    padding-bottom: 0px;
    height: 100px;
}

.comingsoon_title h1{
    color: #688D27;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 900;
    max-width: 75%;
    padding-bottom: 0px;

 }

 .comingsoon_video{
    display: flex;
    flex-direction: column;
    background: black;
    margin-right: -60px;
    padding-right: 60px;
    
}
.comingsoon_text_row{
    background: white;
    color: #688D27;
    margin-right: -60px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}
.video{
    overflow:hidden;
    margin-left: -250px;
    background: black;
    padding-top: 25px;
    padding-bottom: 25px;
    
    
}
#meal_logging{
    width: 150%;
    height: 150%;
    background: black;
    
}

.comingsoon_form_row{
    background: white;
    display:flex;
    justify-content: center;
    padding-left: 32px; 
    z-index: 10;
    margin-top: -10px;
    margin-right: -40px;
    padding-right: 40px;
    
}

.comingsoonform_div{
    padding-left: 10px;
    padding-right: 10px;
   background: white;
}

.comingsoon_contact{
    background: white;
    padding-left: 8px;
    padding-right: 8px;
}

.comingsoon_contact h3{
    color: #688D27;
    font-weight: 900;
}

 
.comingsoon_legend{
    font-size: 80%;
}

.comingsoon_form-container, #contact-form {
    border: 1px solid #000000;
    background: #8AB43F; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 10px;
}

 .form-field {
    border: 1px solid #000000;
    background: #b5b0aa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000000;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom:20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    
    }
 .form-field:focus {
    background: #fff;
    color: #000000;
    }

 .comingsoon_legend {
    text-shadow: #e2f0e3 0 1px 0;
    font-size:18px;
    margin: 0 0 10px 0;
    font-weight:bold;
    text-align:center;
    }

 .form-title {
    margin-bottom:10px;
    color: #080808;
    text-shadow: #e2f0e3 0 1px 0;
    }

 .submit-container {
    margin:8px 0;
    text-align:right;
    }

 .submit-button {
    border: 1px solid #447314;
    background: #026c29;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #000000 0 1px 0;
    color: #f9faf7;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    margin-right: 10px;
    }

 .submit-button:hover {
    border: 1px solid #447314;
    text-shadow: #31540c 0 1px 0;
    background: #6aa436;
    color: #fff;
    }

 .submit-button:active {
    text-shadow: #31540c 0 1px 0;
    border: 1px solid #447314;
    background: #8dc059;
    }
    

    @media only screen and (min-width:480px){
        .comingsoon_body{
            background: lightgray;
            margin-right: 32px;
            margin-left: 32px;
            display: flex;
            flex-direction: column;
            margin-bottom: 0px;
        }

        .comingsoon_title{
            background: white;
            padding-bottom: 15px;
            height: 50px;
            padding-left: 64px;
        }
        .comingsoon_title h1 {
            color: #688D27;
            padding-left: 8px;
            padding-right: 8px;
            font-weight: 900;
            max-width: 50%;
            padding-bottom: 10px;
         }
        
        .comingsoon_video{
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            justify-content: space-around;
            background: black;
            margin-right: 0px;
            padding-right: 0px;
        }
       
        .comingsoon_text_row{
            background: black;
            color: #688D27;
            margin-right: 0px;
            padding-top: 16px;
            padding-bottom: 8px;
            padding-left: 64px;
            padding-right: 32px;
            max-width: 480px;
            width: 65%;

            
        }
        .comingsoon_text_row p{
            font-size: larger;
        }
        
        .video{
            max-width: 50%;
            padding-top:8px;
            padding-bottom:8px;
            margin-left: 20px;
            margin-right: 0px;
            
            
        }
        #meal_logging{
            margin-left: 0px;
            background: black;
            border: none;
            height: 480px;
            width: unset;
            margin-left:-240px;
        }
        
        .comingsoon_contact{
            background: white;
            padding-left: 64px;
            padding-right: 64px;
            text-align: center;
        }

        
        .comingsoon_legend{
            font-size: 100%;
            
        }

        .comingsoon_form_row{
            display: flex;
            flex-direction: column;
            background: white;
            padding-bottom: 250px;
            margin-right: 0px;
            margin-left: 0px;
            padding-right: 32px;
            padding-left: 32px;
            z-index: unset;

        }
        .comingsoonform_div{
            align-self:center;
        }
         
        
        .comingsoon_form-container {
            border: 1px solid #000000;
            background: #8AB43F; 
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
            -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
            box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
            font-family: 'Helvetica Neue',Helvetica,sans-serif;
            text-decoration: none;
            vertical-align: middle;
            min-width:400px;
            padding:20px;
        }

        .form-field {
            border: 1px solid #000000;
            background: #b5b0aa;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            color: #000000;
            -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
            -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
            box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
            padding:8px;
            margin-right:20px;
            margin-bottom:20px;
        }

        .form-field:focus {
            background: #fff;
            color: #000000;
        }

        .form-container h2 {
            text-shadow: #e2f0e3 0 1px 0;
            font-size:18px;
            margin: 0 0 10px 0;
            font-weight:bold;
            text-align:center;
        }

        .form-title {
            margin-bottom:0;
            color: #080808;
            text-shadow: #e2f0e3 0 1px 0;
            text-align: left;
        }
        .form-title h3{
            align-self: left;
        }
        .submit-container {
            margin:8px 0;
            text-align:right;
        }

        .submit-button {
            border: 1px solid #447314;
            background: #026c29;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
            -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
            box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
            text-shadow: #000000 0 1px 0;
            color: #f9faf7;
            font-family: helvetica, serif;
            padding: 8.5px 18px;
            font-size: 14px;
            text-decoration: none;
            vertical-align: middle;
        }

        .submit-button:hover {
            border: 1px solid #447314;
            text-shadow: #31540c 0 1px 0;
            background: #6aa436;
            color: #fff;
        }

        .submit-button:active {
            text-shadow: #31540c 0 1px 0;
            border: 1px solid #447314;
            background: #8dc059;
            color: #fff;
        }
    }