.shakeorder_body{
    background: white;
    min-height: 500px;
    margin-right: 8px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}
.shakeorder_title{
    background: white;
    padding-bottom: 10px;
    height: 100px;
}

.shakeorder_title h1{
    color: #688D27;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 900;
    padding-bottom: 0px;
}
.shake_row{
    display:flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
}
.shake_row a{
    text-decoration: none;
    color: black;
    
}
.shake_button{
    padding: 10px;
    border: 1px solid;
    box-shadow: 2px 4px;
    margin-bottom: 10px;
}


@media only screen and (min-width:480px)and (max-width: 768px){
    .shakeorder_body{
        background: lightgray;
        min-height: 500px;
        margin-right: 32px;
        margin-left: 32px;
        display: flex;
        flex-direction: column;
    }
    .shakeorder_title{
        background: white;
        padding-left: 64px;
        padding-right: 64px;
        height: 50px;
        padding-bottom: 10px;
    }
    
    .shakeorder_title h1{
        color: #688D27;
        padding-left: 0px;
        font-weight: 900;
        
     }
     .padding{
        padding-left: 64px; 
        padding-right: 64px;
        padding-bottom: 150px;
        background-color: white;
     }
    .shake_row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
    }

    .shake_row a{
        width: 48%;
        margin:1%;
       
    }
    
    .shake_button{
        padding: 5px;
        border: 1px solid;
        box-shadow: 2px 4px;
        
    }
    .shake_button h2{
        font-weight: 800;
        font-size: large;
    }
    
    .shake_button p{
        font-size: medium;
    }
   
}
@media only screen and (min-width:769px){
    .shakeorder_body{
        background: lightgray;
        min-height: 500px;
        margin-right: 32px;
        margin-left: 32px;
        display: flex;
        flex-direction: column;
    }
    .shakeorder_title{
        background: white;
        padding-left: 64px;
        padding-right: 64px;
        height: 50px;
        padding-bottom: 10px;
    }
    
    .shakeorder_title h1{
        color: #688D27;
        padding-left: 0px;
        font-weight: 900;
        
     }
     .padding{
        padding-left: 64px; 
        padding-right: 64px;
        padding-bottom: 150px;
        background-color: white;
     }
    .shake_row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0px; 
        padding-right: 0pxpx;
        padding-bottom: 0px;
        
    } 

      
    .shake_item{
        width: 48%;     
        margin: 1%;
    }
        
    .shake_button{
        padding: 10px;
        border: 1px solid;
        box-shadow: 2px 4px;
        
    }
    .shake_button h2{
        font-weight: 800;
        font-size: x-large;
    }

   
    .shake_button p{
        font-size: small;
    }
}